node_modules
vendor
.env
.env.backup
.git
.github
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/debugbar
tests
docs
*.md
.phpunit.*
phpstan.neon
phpunit.xml
.editorconfig
.gitattributes
*.bak
browser-extension
sample_imports
