includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
    level: 5
    ignoreErrors:
        - '#Unsafe usage of new static#'
    excludePaths:
        - app/Http/Controllers/Auth/RegisteredUserControllerBackup.php
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
